* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.orange {
    display: block;
    color: rgba(226, 64, 64, 1);
    padding: 10px 0;
}

/* body {
    animation: menu-fade 2s ease-in-out;
} */

/* @keyframes menu-fade {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
} */


a {
    text-decoration: none;
    color: inherit;
}

.button {
    background-color: #4CAF50;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
}

/* HEADER */

.header {
    background-color: #29333f;
}

.logo {
    animation: heart-beat 3s ease-in-out;
}

.navigation-menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.navigation-menu__item {
    margin: 0;
    padding: 0 10px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

.navigation-menu__item a {
    position: relative;
}

.navigation-menu__item a:after {
    transition: all .5s;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}

.navigation-menu__item a:hover:after {
    width: 100%;
}

.conference {
    height: 800px;
    background-image: url("../img/heart.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


@keyframes heart-beat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}

/* HEADER */

/* CONFERENCE */

.conference .content {
    /* padding: 30px 0; */
    width: 60%;
}

/* .conference .row {
    display: flex;
} */

.conference__name {
    color: #fff;
    font-family: 'Comfortaa', sans-serif; 
    line-height: 1.2em; 
    padding: 30px 0;
}

.conference__info_place, .conference__info_stream {
    color: #fff;
    font-family: 'Exo 2', sans-serif; 
    font-size: 20px;
    /* line-height: 1.2em; 
    padding: 30px 0; */
}

.map {
    display: none;
}
/* CONFERENCE */